<header> Done! </header>
<div align="left">
    <form class="" action="/" method="post">
        <input type="submit" name="" value="Go Back">
    </form>
</div>

<div align="center">
<b> These emails have been edited:</b>
</div>


<body>
    <div align="center">
        <table>
            <h1>
                {% for table in tables%}
                <h2>{{titles[loop.index]}}</h2>
                {{table | safe}}
                {% endfor %}
            </h1>
        </table>
    </div>

</body>

<body align="center">
    <b>Would you like to download the modified CSV file?</b>
    <form class="" action="download" method="post">
        <input type="submit" value="Download">
    </form>
</body>
