<html style="background-color:rgb(157, 236, 248);"> 

<form class="" action="datamultipleemails" method="post">
    <div>
        <input type="file" name="upload-file" value="">
        <input type="submit" name="" value="Submit">
    </div>
</form>

    <div>
    </div>  
    
<form class="" action="dataoneemail" method="post">
    <div>  
    <input type="text" name="email" placeholder="Enter Email...">
    <input type="submit" name="" value="Submit">
    </div> 
</form>

<img src="/Users/nicholasbattaglia/Desktop/Email_Checker_App/email_checker_app/elastic-logo.png" alt="Elastic Logo">

</html>